<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>All Courses</title>

  <!-- Custom fonts for this template-->
  <link href="/media/assets/css/styledash.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="media/assets/css/styledash.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">





    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <!-- <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"> <strong>  Courses Taken</strong> </h1>


          </div>








        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">



          <!-- Content Row -->
          <div class="row">
            

              <h1>{{ course_taken.selected_course.title }}</h1>
              {% if courses_taken %}
              {% for course_taken in courses_taken %}

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">

                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                          Course Title: {{ course_taken.selected_course_id.title }}</div>
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                          Course id: {{ course_taken.selected_course_id.id }}</div>
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                          Course Fee: {{ course_taken.selected_course_id.fee }}</div>
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                          paid Fee: {{ course_taken.paid_amount }}</div>
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                          remaining  Fee: {{course_taken.remaining_fee }}</div>

                         
                        <div>
                            <a href="/up/{{course_taken.user.id}}/{{course_taken.selected_course_id.id }}/"> update fee</a>
                        </div>
                
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}
              {% else %}
              <p>No courses taken yet.</p>
              {% endif %}



          </div>
          


          <!-- Bootstrap core JavaScript-->
          <script src="vendor/jquery/jquery.min.js"></script>
          <script src="media/assets/js/jsdash/js/bootstrap.bundle.min.js"></script>

          <!-- Core plugin JavaScript-->
          <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

          <!-- Custom scripts for all pages-->
          <script src="media/assets/js/jsdash//sb-admin-2.min.js"></script>

          <!-- Page level plugins -->
          <script src="vendor/chart.js/Chart.min.js"></script>

          <!-- Page level custom scripts -->
          <script src="media/assets/js/jsdash/demo/chart-area-demo.js"></script>
          <script src="media/assets/js/jsdash//demo/chart-pie-demo.js"></script>

</body>

</html>