<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course Fee</title>
</head>
<body>
    <h1>Update Course Fee</h1>

    <form method="POST" >
        {% csrf_token %}
        <div class="form-group">
            <label for="amount_paid">Amount Paid:</label>
            <input type="text" class="form-control" id="amount_paid" name="amount_paid" value="{{ obj.amount_paid }}">

        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</body>
</html>
